<div class="card-wrapper">
  <div class="card fat">
    <div class="card-body">
      <h4 class="card-title">Crear Turno</h4>
      <form [formGroup]="formTurnos" (ngSubmit)="CrearTurno()" #f="ngForm" novalidate>

        <mat-form-field>
          <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Seleccione una fecha"
            formControlName="fecha" disabled (ngModelChange)="TraerEspecialistasPorFecha()" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
          <mat-error *ngIf="fecha.errors?.required || fecha.touched">Por favor, seleccione una fecha</mat-error>
        </mat-form-field>

        <mat-form-field class="mt-1">
          <mat-label>Especialista</mat-label>
          <mat-select formControlName="especialista" required>
            <mat-option *ngIf="especialistas.length == 0">--</mat-option>
            <mat-option *ngFor="let especialista of especialistas" [value]="especialista">
              {{especialista.Nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="especialista.touched && especialistas.length > 0">Por favor, seleccione al especialista</mat-error>
          <mat-hint *ngIf="especialistas.length == 0 && fecha.valid">
            No se encontraron especialistas disponibles en la fecha indicada
          </mat-hint>
          <mat-hint *ngIf="fecha.invalid">
            Seleccione una fecha para ver los especialistas disponibles
          </mat-hint>
        </mat-form-field>

        <div class="mt-5">
          <button type="submit" mat-raised-button color="primary" [disabled]="formTurnos.invalid">Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>